body {
    margin: 0;
    padding: 0;
    background-color: #EFEFF2;
    font: 400 18px/28px Inter,sans-serif;
    color: #19191C;
}

.container {
    margin: 0 auto;
    width: 1440px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 0 0;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 68px;
}

.nav__list {
    display: flex;
    gap: 48px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.nav__link {
    text-decoration: none;
    color: #19191C;
}

.btn__box {
    display: flex;
    gap: 48px;
    list-style: none;
    align-items: center;
}

.logo {
    display: flex;
    font: 800 24px/29.05px Inter, sans-serif;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
    align-items: center;
}

.btn__link {
    color: #19191C;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;

}

.btn__button {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
    background: #19191C;
    color:#EFEFF2;
    padding: 12px 37px 12px 37px;
}

.container__footer{
    padding: 68px 0 68px 0;
    width: 100%;
    background-color: #19191C;
    color: #FBFBFC;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    padding: 0 240px 0 240px;
    gap: 146px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.logo__footer{
    margin: 0;
    padding: 0;
    display: flex;
    font: 800 24px/29.05px Inter, sans-serif;
    gap: 14px;
    color: #FBFBFC;
    text-decoration: none;
    align-items: center;
}

.contact__box{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact__data {
    flex-direction: column;
    color: #FBFBFC; 
    font: 600 24px/29px Inter, sans-serif;
    text-decoration: none;
}

.sitemap{
    display: flex;
    flex: 1;
    
    justify-content: space-between
}

.sitemap__block {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 28px;
    
    
}
.sitemap__header{
    color: #FBFBFC;
    margin: 0;
    padding: 0;
    font: 600 18px/22px Inter,sans-serif;
}

.sitemap__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 12px;
    list-style: none;
    padding: 0;
}

.sitemap__item{
    color: #FBFBFC;
    font: 400 18px/22px Inter,sans-serif;
    text-decoration: none;
}

.copyright__box{
    display: flex;
    justify-content: center;
    gap: 28px;
}

.copyright__text{
    margin: 0;
    padding: 100px 0 0 0;
    color: #6D6D77;
    font: 400 18px/28px Inter,sans-serif;
    text-decoration: none;
}